<%include ./common/starting%>
</body>

</html>
<div></div>
<% for(let i of id) { %>
  <%- section.a %> <%= i[0] %> <%- section.b %> <%= i[1] %> <%- section.c %> <%= i[2] %> <%- section.d %> <%= i[3] %> <%- section.e %>
<% } %>

<svg>
  <defs>
    <filter id="glow">
      <fegaussianblur class="blur" result="coloredBlur" stddeviation="4"></fegaussianblur>
      <femerge>
        <femergenode in="coloredBlur"></femergenode>
        <femergenode in="SourceGraphic"></femergenode>
      </femerge>
    </filter>
  </defs>
</svg>

<h2>Page Not Found</h2><br />
<a style="position: fixed; bottom: 38%; left: 50%;" href="/">
  <h2>Go&nbsp;Home</h2>
</a>